assembly/ads.ts
assembly/index.ts
durian.rent.d.ts
durian.rent.js

data

parser

gen_key.cjs
ads2wasm.cjs
old_new.cjs
nhatot.cjs
make_id_file.cjs
get_ai.cjs
bedrooms.cjs
bathrooms.cjs

llama
durian-lora.gguf
model.gguf
ai-in.json
ai-out.json
ai-out
ai_out

node_modules
.zed

localhost+2-key.pem
localhost+2.pem
